<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704521628229-686pus3k79lnqoanvrmj0bj0ftla0i6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704521628229-686pus3k79lnqoanvrmj0bj0ftla0i6p</string>
	<key>API_KEY</key>
	<string>AIzaSyC80C7X8qm_Wj3d8F2yBCILTOR2zx4zPcw</string>
	<key>GCM_SENDER_ID</key>
	<string>704521628229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rondigital.chatbot</string>
	<key>PROJECT_ID</key>
	<string>talkios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>talkios-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704521628229:ios:c5b00c7045c8d58c51112c</string>
</dict>
</plist>